{% extends 'superheroes/index.html' %}

{% load crispy_forms_tags %}
{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            This is a danger alert—check it out!
        </div>
    {% endif %}

    <h1>Update SuperHero</h1>

    <form action= "{%url 'superheroes:update' hero.id %}" method="POST">
        {% csrf_token %}

        {% if message %}
            <div class="alert alert-success" role="alert">
                The Superhero has been Updated!
            </div>
        {% endif  %}    

        {{ form | crispy }}

        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-warning" href="{% url 'superheroes:display' %}">Cancel</a>
    </form>
{% endblock %}
