<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero index</title>
</head>
<body>
    <container color: yellow class = "container">
        <h1>List of Heroes</h1>
        <ul>
            {% for hero in all_heroes %}
            <li> <h2>{{ hero.name }} <a href="{% url 'superheroes:detail' hero.id %}">Details</a> <h2>  </li>
            {% endfor %}
            

        </ul>
        <a href="{% url 'superheroes:create' %}">Create Superhero</a>
    
    </container>
   
</body>
</html>